body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  width: 100%;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  color: rgba(255, 255, 255, 1);
  flex-shrink: 0;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.logo {
  text-decoration: none;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-detail {
  color: #2e2f42;
}

.menu {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
}

.menu-list-item {
  text-decoration: none;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.menu-list-link {
  text-decoration: none;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
}

.menu-list-item .menu-list-link::after {
  display: block;
  content: '';
  border-radius: 2px;
  background: #404bbf;
  width: 0;
  height: 4px;
  left: 0;
  bottom: -1px;
  position: absolute;
}

.menu-list-active .menu-list-link,
.menu-list-item:hover .menu-list-link,
.menu-list-item:focus .menu-list-link {
  color: #404bbf;
}

.menu-list-item:first-child .menu-list-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list-item:hover .menu-list-link::after,
.menu-list-item:focus .menu-list-link::after,
.menu-list-active .menu-list-link::after {
  width: 100%;
}

.address {
  font-style: normal;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item:hover,
.address-item:focus {
  color: #404bbf;
}

.hero {
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.hero-title {
  text-align: center;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
  max-width: 496px;
}

.hero-button {
  background: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-size: 16px;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.about-container {
  background: #fff;
  padding: 96px 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}
/* column-gap: 24px;
  row-gap: 72px;
} */
.about-element {
  max-width: 320px;
}

.image-container {
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
}

.about-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.about-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.team-container {
  background: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  text-align: center;
  color: rgba(46, 47, 66, 1);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-list :first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card {
  background: #fff;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.member-info {
  padding: 32px 0;
}

.team-member {
  color: rgba(46, 47, 66, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.position {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 16px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.circle:hover,
.circle:focus {
  background-color: #404bbf;
}

.icon {
  fill: currentColor;
}

.social-icons {
  width: calc((100% - 72px) / 4);
  display: flex;
  gap: 24px;
}

.social-icons:first-child .circle {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons,
.social-icons::after,
.social-icons::before {
  box-sizing: border-box;
}

.portfolio-container {
  background: #fff;
  padding: 96px 16px;
}

.portfolio-title {
  text-align: center;
  color: rgba(46, 47, 66, 1);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card {
  background: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio-card-visual {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  background: #4d5ae5;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card:hover .overlay-text {
  transform: translateY(0);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-card-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.footer-container {
  background: #2e2f42;
  display: flex;
  justify-content: center;
  height: 312px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer-content {
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.footer-description {
  display: block;
  margin-right: 120px;
  margin-left: 0;
}

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-detail {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-social {
  display: block;
}

.footer-title {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-box {
  width: 40px;
  height: 40px;
  display: flex;
}

.footer-social-box,
.footer-social-box::after,
.footer-social-box::before {
  box-sizing: border-box;
}

.footer-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-circle:hover .footer-circle:focus {
  background-color: #31d0aa;
}

.footer-icons-list .footer-circle:hover,
.footer-icons-list .footer-circle:focus {
  background-color: #31d0aa;
}

.footer-subscribe {
  display: block;
  margin-left: 80px;
}

.subscribe-title {
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: transparent;
  font-size: 12px;
  padding-left: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #fff;
  font-family: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.04em;
  padding: 8px 16px;
}

.subscribe-btn {
  min-width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  margin: 0 auto;
  max-width: auto;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.icon-send-arrow {
  margin-left: 16px;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  pointer-events: auto;
}

/* .is-open {
  overflow: hidden;
  opacity: 1;
  visibility: visible;
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: max-content;
  min-height: 584px;
  z-index: 2;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 72px 24px 24px 24px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 16px;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-bottom: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  left: 16px;
  top: 6px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-label {
  color: #8e8f99;
  display: block;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-with-icon {
  padding: 8px 8px 8px 38px;
  width: 100%;
  height: 40px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-with-icon:focus ~ .modal-icon,
.input-with-icon:hover ~ .modal-icon {
  fill: #4d5ae5;
}

.input-with-icon:focus,
.textarea:focus,
.input-with-icon:hover,
.textarea:hover {
  border: 1px solid #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.textarea {
  width: 100%;
  height: 120px;
  max-height: 336px;
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  height: 120px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea::placeholder {
  color: #2e2f4266;
}

.modal-field-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox {
  opacity: 0;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.checkbox:checked ~ .checkbox-label > .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
  cursor: pointer;
}

.checkbox-label {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
}

.privacy-policy {
  color: #4d5ae5;
  margin-left: 3px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.terms-text {
  color: #8e8f99;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.04em;
}

.modal-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #4d5ae5;
  align-items: flex-start;
  gap: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  text-transform: capitalize;
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ------media queries----- */
/* ------TABLET------ */
/* @media screen and (min-width: 320px) {
  .container {
  }
} */

@media screen and (min-width: 768px) and (max-width: 1157) {
  .container {
    max-width: 768px;
    padding: 0 15px;
    margin: 0 auto;
  }
  .about-list: {
  }
  .about-container {
    padding: 120px 0;
  }
  .about-element {
    width: calc((100% - 24px) / 2);
  }
  .team-list {
    gap: 64px 24px;
  }
  .team-card {
    width: calc((100% - 24px) / 2);
  }
}

/* -------DESKTOP-------- */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .about-element {
    width: calc((100% - 3 * 24px) / 4);
  }
  .about-container {
    padding: 120px 0;
  }
  .image-container {
    display: flex;
  }
  .about-list {
    display: flex;
    gap: 24px;
  }
  .about-title {
    font-size: 20px;
  }

  .team-container {
    padding: 120px 0;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }
  .team-card {
    width: calc((100% - 3 * 24px) / 4);
  }
  .portfolio-container {
    padding: 120px 0;
  }
  .portfolio-card {
    width: calc((100% - 48px) / 3);
  }
  .portfolio-card-list {
    gap: 48px 24px;
  }
}
